beautifulsoup4==4.8.1
Django==2.2.27
django-extensions==2.2.5
djangorestframework==3.10.3
ez-setup==0.9
gunicorn==20.0.0
numpy==1.17.4
pandas==0.25.3
psycopg2-binary==2.8.4
python-dateutil==2.8.1
python-decouple==3.3
pytz==2019.3
six==1.13.0
soupsieve==1.9.5
sqlparse==0.3.0
